/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

/* Painel esquerdo */
.left-panel {
  width: 40%;
  background-image: url(https://images.unsplash.com/photo-1501785888041-af3ef285b470);
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  display: flex;
  align-items: flex-end;
  image-rendering: auto;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3);
}

.left-panel .overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 50px;
}

.left-panel h1 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 10px;
}

.left-panel p {
  font-size: 14px;
  margin-bottom: 20px;
}

.left-panel .terms {
  font-size: 12px;
}

.left-panel .terms a {
  color: #fff;
  text-decoration: underline;
}

/* Painel direito */
.right-panel {
  width: 60%;
  background-color: #fff;
  padding: 40px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 800px;
}

.formulario h2 {
  text-align: center;
  color: #2874f0;
  margin-bottom: 90px;
  font-size: 30px;
}

.input-group {
  display: flex;
  gap: 20px;
  position: relative;
}

.input-group input,
.input-group select,
.input-full input {
  padding: 12px 12px 12px 15px;
  border: none;
  border-radius: 20px;
  background-color: #eeeeee;
  font-size: 14px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.input-full {
  width: 100%;
}

/* Notas gerais */
.note {
  font-size: 12px;
  color: gray;
  margin-top: -10px;
}

/* Notas posicionadas acima dos campos */
.note-checkin,
.note-checkout {
  position: absolute;
  font-size: 12px;
  color: gray;
  top: -18px;
}

.note-birthday{
  position: absolute;
  font-size: 12px;
  color: gray;
  top: 332px;
}

.note-checkin {
  left: 0;
}

.note-checkout {
  left: 52%;
}

.note-birthday {
  right: 23%;
}

/* Notas posicionadas abaixo dos campos */
.note-reserva {
  position: absolute;
  font-size: 16px;
  color: gray;
  top: 250px;
  right: 24%;
}

/* Botão */
button {
  align-self: center;
  padding: 12px 40px;
  background-color: #2874f0;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: #4584eb;
}